<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<div class="container" id="container">
    <div class="form-container sign-up-container">
        <form (ngSubmit)="onRegister()">
            <h1>Create Account</h1>
            <div class="social-container">
                <a href="#" class="social" (click)="onLoginWithGoogle()"><i class="fab fa-google-plus-g"></i></a>
            </div>
            <span>or use your email for registration</span>
            <input type="email" placeholder="Email" [(ngModel)]="registerEmail" name="registerEmail" required />
            <input type="password" placeholder="Password" [(ngModel)]="registerPassword" name="registerPassword"
                required />
            <button type="submit">Sign Up</button>
        </form>
    </div>
    <div class="form-container sign-in-container">
        <form (ngSubmit)="onLogin()">
            <h1>Sign in</h1>
            <div class="social-container">
                <a href="#" class="social" (click)="onLoginWithGoogle()"><i class="fab fa-google-plus-g"></i></a>
            </div>
            <span>or use your account</span>
            <input type="email" placeholder="Email" [(ngModel)]="loginEmail" name="loginEmail" required />
            <input type="password" placeholder="Password" [(ngModel)]="loginPassword" name="loginPassword" required />
            <a href="#">Forgot your password?</a>
            <button type="submit">Sign In</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back!</h1>
                <p>To keep connected with us please login with your personal info</p>
                <button class="ghost" (click)="togglePanel(false)">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Hello, Friend!</h1>
                <p>Enter your personal details and start journey with us</p>
                <button class="ghost" (click)="togglePanel(true)">Sign Up</button>
            </div>
        </div>
    </div>
</div>